.projects-section{
    padding-bottom: 50px;
}
.skill-title{
    margin-top: 80px;
}
.carousel-container{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px
}
.card-container{
    border: solid #444 3px;
    width: 240px;
    height: 400px;
    border-radius: 12px;
    font-size: small;
    background-color: #d6eee4;
    box-shadow: 6px 8px 20px 2px #666;
}
.img-card-container{
    width: 100%;
    padding: 12px;
}
.card-img{
    border-radius: 10px;
    height: 180px;
}
.card-subtitle{
    text-align: center;
    padding-top: 8px;
    margin-bottom: -10px;
}
button{
    margin-left: 15%;
    height: 45px;
    width: auto;
    margin-top: 30px ;
    margin-bottom: -10px;
    border-radius: 8px;
}
a{
    font-size: large;
    text-decoration: none;
    color: #000;
}
.demo-link-button{
    margin-left: 22%;
    background-color: #28a16c;
}
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
    position: absolute;
    right: 23px;
}
@media(min-width:1024px ){
    button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
        position: absolute;
        left: -140px;
    }
    .carousel-container{
        margin-left: 40px;
    }
}
@media(min-width:1100px){
    button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
        position: absolute;
        left: -148px;
    }
    button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
        position: absolute;
        right: 35px;
    }
}
@media(min-width:1200px){
    button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
        position: absolute;
        left: -198px;
    }
}
