div#about{
    padding-top: 80px;
}
.about-title{
    text-align: center;
    font-size: 2.4em;
}
.span-title{
    color: #28a16c;
}
.b-title{
    padding-top: 12px;
    color: #28a16c;
}
.about-description{
    color: #333;
    font-size: 1.2em;
    padding-top: 40px;
    text-align: left;
    position: relative;
    padding-left: 13px;
    padding-right: 13px;
}
b{
    color: #28a16c;
}
.img-container{
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin: 0 auto;
}
.about-photo{
    width: 100%;
}
@media(min-width:768px){
    div#about{
        margin-top: 59px;
    }
    .about-photo {
        width: 100%;
        position: relative;
        left: 150px;
        bottom: 450px;
        z-index: 5000;
    }
    .about-description{
        max-width: 400px;
        z-index: 6000;
    }
}
@media(min-width:1024px){
    .about-photo {
        width: 100%;
        position: relative;
        left: 300px;
        bottom: 350px;
    }
    .about-description{
        max-width: 700px;
    }
}
@media(max-width:378px){
    .img-container{
        margin-left: -40px;
    }
}