.bg-myColor{
    background-color: #57bc90;
}
.navbar{
    width: 100vw;
}
.navbar-brand{
    padding-left: 13px;
    font-size:larger;
    display: inline-flex;
    padding: 8px;
}
.navbar-nav{
    padding-left: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.navbar-toggler{
    margin-right: 5px;
}
.dropdown-menu{
    background-color: #57bc90;
    border: none;
    font-size: 13px;
}
.dropdown-item:hover{
    background-color: #57bc90;
    color: #fff;
}
@media(min-width: 576px){
    .nav-link{
        margin-left: 45px;
    }
    .navbar-collapse{
        justify-content: flex-end;
        margin-right: 20px;
    }    
}

